/* Start Slider */
.slider {
  blockquote {
    font: {
      size: 20px;
      style: italic;
      weight: bold;
      family: Tahoma, Arial;
    }
    line-height: 1.7;
    text-align: center;
    color: #5e5e5e;
    width: 80%;
    margin: 30px auto;
  }
  img {
    max-width: 100%;
    display: block;
    margin: auto;
  }
  .bullets {
    text-align: center;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $greyColor;
      border-radius: 50%;
      border: 2px solid $greyColor;
      cursor: pointer;
      &.active,
      &:hover {
        background-color: $redColor;
        border: 2px solid $redColor;
      }
    }
  }
}
/* End Slider */

/* Start Services */
.services {
  .service-box {
    @media #{$minMedium} {
      float: $float-left;
      width: (100% / 3);
      &:not(:last-of-type) {
        padding-right: 20px;
      }
    }
    @media #{$maxMobile} {
      i {
        display: block;
        margin-bottom: 15px;
      }
    }
    .service-title {
      color: #666;
      i {
        font-size: 35px;
        position: relative;
        top: 4px;
      }
    }
    .service-desc {
      color: #777;
      line-height: 1.5;
    }
    .link {
      color: $redColor;
      text-decoration: none;
    }
  }
}
/* End Services */

/* Start Our Players */
.our-players {
  .player-box {
    padding-right: 20px;

    @media #{$minSmall} {
      float: $float-left;
      width: (100% / 2);
      text-align: center;
      margin-bottom: 40px;
    }
    @media #{$minMedium} {
      width: (100% / 3);
      text-align: $text-left;
      padding-left: 20px;
      padding-right: 20px;
    }
    @media #{$minLarge} {
      width: (100% / 5);
    }
    @media #{$maxMobile} {
      margin-bottom: 40px;
    }
    .player-img {
      max-width: 100%;
    }
    .player-title {
      color: #666;
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
    .player-desc {
      color: #777;
      line-height: 1.5;
    }
    .link {
      color: $redColor;
      text-decoration: none;
    }
  }
}
/* End Our Players */

/* Start Lorem Ipsum */
.lorem-ipsum {
  .lorem-box {
    @media #{$minSmall} {
      float: $float-left;
      width: (94% / 3);
      padding-left: 10px;
      padding-right: 10px;
      &:not(:last-of-type) {
        margin-right: 3%;
      }
    }
    @media #{$maxMobile} {
      margin-bottom: 40px;
      width: 100%;
    }

    .lorem-img {
      max-width: 100%;
    }
  }
}
/* End Lorem Ipsum */
